<h1 style="text-align: center;">{{title}}</h1>

<input type="text" name="nombre" [(ngModel)]="nombre"><br/>
<input type="text" name="apellido" [(ngModel)]="apellido"><br/>
<input type="text" name="cargo" [(ngModel)]="cargo">
<br/>
<input type="submit" (click)="seRegistroUsuario()">

<p *ngIf="registrado;  else sinRegistrar ">{{mensaje}} con el nombre de {{nombre}} {{apellido}}
   y tiene el cargo de <span [ngClass]="{paraDirectores: cargo=='Director'}">{{cargo}}</span></p>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br/>
<br/>

<ul>
  <li *ngFor="let val of datos; let i=index"><span style="font-size: large; font-weight: bold;">{{val.text}}</span>
   Dato {{i+1}}
  </li>
</ul>

